<div class="col-md-3 col-sm-5">
    <div class="sidebar blog-sidebar">
        <div class="sidebar-item categories">
            <h3>Sản phẩm</h3>
            <ul class="nav navbar-stacked">
                <li class="active"><a href="#">Cửa lưới chống muỗi<span class="pull-right">(1)</span></a></li>
                <li><a href="#">Tranh dán tường<span class="pull-right">(8)</span></a></li>
                <li><a href="#">Màn rèm<span class="pull-right">(4)</span></a></li>
                <li><a href="#">Sàn gỗ<span class="pull-right">(9)</span></a></li>
            </ul>
        </div>
        
    </div>
    <div class="sidebar-item  recent">
            <h3>Sản phẩm khác</h3>
            {% for post in site.posts limit:5 %}
            <div class="media">
                <div class="pull-left">
                    <a href="{{ post.url }}"><img src="{{ post.image }}" width="52px" alt="{{ post.title }}"></a>
                </div>
                <div class="media-body">
                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                </div>
            </div>
            {% endfor %}
        </div>
    <div class="sidebar-item popular">
        <h3>Sản phẩm khác</h3>
        <ul class="gallery">
            {% for post in site.posts limit:6 %}
            {% if page.url!=post.url %}
            <li><a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{ post.title }}"></a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

